_pycache_/*
*.pyc
trained_models/processing/*
.vscode/*
dist/*
build/*
uainepydat.egg-info/*
automation/devscripts/key.txt
docs/build/*
docs/source/index.rst
uainepydat/test_chunk_for_sas/dataset.sas7bdat
